<div data-ng-controller="LoginCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Liste de courses</a>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h1>Liste de courses</h1>
            <p class="lead">Pas de stylo ni de papier sous la main ?<br> Si vous ne sortez jamais sans votre smartphone, ce site est fait pour vous.</p>
            <p class="lead">Pour vous connecter, rien de plus simple. Nous vous proposons d'utilisez au choix votre compte Facebook, Twitter ou Google.</p>
        </div><!-- /.container -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Facebook</h2>
                <p>Utilisez votre compte Facebook</p>
                <p><a class="btn btn-default btn-login-facebook" ng-click="loginFacebook()" role="button"><span class="icon-facebook"><i></i></span> Connection avec Facebook</a></p>
            </div>
            <div class="col-md-4">
                <h2>Twitter</h2>
                <p>Utilisez votre compte Twitter</p>
                <p><a class="btn btn-default btn-login-twitter" ng-click="loginTwitter()" role="button"><span class="icon-twitter"><i></i></span> Connection avec Twitter</a></p>
            </div>
            <div class="col-md-4">
                <h2>Google</h2>
                <p>Utilisez votre compte Google</p>
                <p><a class="btn btn-default btn-login-google" ng-click="loginGoogle()" role="button"><span class="icon-google"><i></i></span> Connection avec Google</a></p>
            </div>
        </div>
    </div>
</div>