<div data-ng-controller="MainCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Liste de courses</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{ user.firstName }} {{ user.lastName }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="logout()">Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <!--Sidebar-->
            <div class="col-sm-3 col-md-2 sidebar">
                <!--Add a list-->
                <button class="btn btn-success" ng-click="addList()">Ajouter une liste</button>
                <br/><br/>

                <!--Currents lists-->
                <ul class="nav nav-sidebar">
                    <li ng-repeat="(nodeId, list) in lists" ng-class="(nodeId == selectedList.$id) ? 'active' : ''" ng-click="selectList(nodeId)"><a>{{ list.name }}</a></li>
                </ul>
            </div>

            <!--Content-->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="row">
                    <div class="col-sm-1">
                        <span ng-show="isOwnerOfList()" ng-click="isNameEditable = !isNameEditable" ng-init="isNameEditable = false" class="icon-action-edit"></span>
                    </div>
                    <div class="col-sm-9">
                        <h1 ng-show="!isNameEditable" class="list-name">{{ selectedList.name }}</h1>
                        <input type="text" ng-model="selectedList.name" ng-show="isNameEditable"
                               ng-keypress="isNameEditable = $event.keyCode===13?false:true"
                               class="list-name-input" />
                    </div>
                    <div class="col-sm-2" ng-show="isOwnerOfList()">
                        <span class="icon-action-share"><i></i></span>
                    </div>
                </div>

                <div class="row">
                    <ul>
                        <li ng-repeat="item in selectedList.items"><span class="badge">{{ item.qte }}</span> {{ item.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
